.card{
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: rgb(236, 229, 229);
    cursor: pointer;
    transition: transform 0.5s ease;
}

.card:hover{
    transform: scale(1.05);
}

.card__image-wrapper{
    height: 200px;
    
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.card__body{
    padding: 0 10px 10px;
}

.card__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid  rgba(89, 61, 43, 0.6);
}

.card .button{
    padding: 5px;
    border: 1px solid rgb(206, 139, 68);
    border-radius: 3px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);;
    cursor: pointer;
    background-color: rgb(206, 139, 68);
    transition: 0.3s;
    color: rgb(89, 61, 43);
}

.card .button:hover{
    background-color: rgba(206, 139, 68, 0.7)
}

.card__title{
    color:  rgb(57, 81, 29);
    margin: 10px 0;

}

.card__description{
    color: rgba(89, 61, 43, 0.8);
    margin-bottom: 10px;
}

.card__price{
    color: rgba(147, 46, 46, 1);
}

.card__title, .card__price, .card .button{
    font-weight: bolder;
}