.footer{
    height: 15vh;
    width: 100%;
    background-color: rgb(54, 79, 25);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -5px 10px rgba(0,0,0,0.3);
    padding: 20px;
}

.footer__text{
    color: rgb(236, 229, 229);
}