.header{
    width: 100%;
    position: fixed;
    
}

.header__container{
    display: flex;
    width: 100%;
    padding: 10px;
    gap: 20px;
    background-color: #932E2E;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    color: #CE8B44;
    text-decoration: none;
    font-family: "Material Symbols Outlined";
    font-weight: bold;
    font-size: 25px;
    height: 40px;
    width: auto;
}

.header__menu{
    display: flex;
    gap: 20px;
}


.header__item{
    display: block;
    font-size: 25px;
    list-style: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: 2px;
    box-shadow: 0 2px 4px rgba(11, 11, 11, 0.414);
    color: #fff ;
    list-style: none;

}

.header__item:hover{
    background-color: #CE8B44;
    color: black;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.4);
}

.header__link{
    text-decoration: none;
    color: white;
}

.header__icon{
    color: #CE8B44;
    width: auto;
}

.header__social{
    display: flex;
    gap: 10px;
}