body{
    min-height: 100vh;
}

.products{
    background-color: rgba(206, 139, 68, 0.85);
    padding: 20px 20px 40px 20px;
    width: 100%;
}

.products__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.products__grid{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
}

.products__grid > .card{
    flex: 1 1 350px;
    margin: 20px;
}

.products__title{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: "Oswald";
    color: rgba(147, 46, 46, 1);
    border-bottom: 1px solid rgba(147, 46, 46, 1);
}

.button--primary{
    text-decoration: none;
    background-color: rgba(147, 46, 46, 1);
    color:  rgb(236, 229, 229);
    font-weight: bolder;
    border: 1px solid rgba(147, 46, 46, 1);
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transform: 0.3s ease;
    font-family: "Oswald";
}

.button--primary:hover{
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

.categories{
    min-height: 30vh;
    width: 100%;
    
}

.categories__container{
    background-color: rgba(255, 192, 83, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.categories__title{
    padding: 10px;
    font-family: "Oswald";
    color: rgba(147, 46, 46, 1);
    border-bottom: 1px solid rgba(147, 46, 46, 1);
    justify-content: center;
    display: flex;
    margin: 20px;   
}

.categories__list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    
}

.categories__list > div{
    flex: 1 1 200px;
    margin: 10px;
} 


.category-item{
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    min-height: 100px;
    width: 100px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    box-shadow: 0 2px 6px rgb(113, 112, 111);
    background-color: rgb(239, 236, 236);
    border: 1px solid rgb(184, 182, 182);
    transition: transform 0.5s ease;
    cursor: pointer;
    
}

.category-item img{
    display: flex;
    margin: 10px;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);

}

.category-item:hover{
    transform: scale(1.05);
   
}

.categoria-item .button a{
    font-family:'Times New Roman';

}

.button--small{
    text-decoration: none;
    background-color: rgba(255, 192, 83, 0.8);
    color: black;
    border-radius: 35px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.categoria-item .button:hover{
    background-color: rgba(254, 161, 62, 0.7)
}